body {
    font-family: Arial, Helvetica, sans-serif;
}
.file {
    margin:10px;
}
.form {
    height: 250px;
    border-radius: 50px;
}
.form form, .form b {
    position: relative;
    width: inherit;
    left: 5%;
    top: 25%;
}
.form div {
    padding-bottom: 1%;
}